body
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    background-color: #f4f4f4;
}
*{
    margin: 0;
    padding: 0;
}
.container
{
    width: 80%;
    margin: auto;
}
ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}
a
{
    text-decoration: none;
}
header
{
    background: #35424a;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom:3px solid #e8941d;
}
header a{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li
{
    float: left;
    padding: 0 20px;
}
header #branding
{
    float: left;
}
header #branding h1
{
    margin-top: 0;
}
header nav
{
    float: right;
    margin-top: 10px;
}
header *
{
    vertical-align: middle;
}
header .highlight, header .current a
{
    color: #e8491d;
    font-weight: bold;
}
header a:hover
{
    color: #ccc;
    font-weight: bold;
}
footer
{
    padding: 20px;
    margin-top: 20px;
    color:#fff;
    text-align: center;
    background-color: #e8491d;
}